# .gitignore

# Entorno virtual
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDE
.vscode/

# Carpetas de distribución
dist/
build/

# Contenido de la carpeta Recursos
Recursos/

# Capturas de error locales
Errores/

# Variables de entorno y credenciales sensibles
.env
.env.local
.env.*.local